<nav class="navbar navbar-default navbar-static-top navbar-inverse" style="font-size: large;">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a href="/">Jeffrey Grant</a>
      </li>
    </ul>
    
    

    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="/contact">Contact</a>
      </li>
      <li class="navbar-right">
        <a href="/fee">Fee</a>
      </li>
      <li class="navbar-right">
        <a href="/psychotherapy">Psychotherapy</a>
      </li>
      <li class="navbar-right">
        <a href="/aboutme">About Me</a>
      </li>
      
      
      
    </ul>
  </div>
</nav>
