<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
  <div class="jumbotron" style="background-color: #00000000;">
    <div class="text-center">
      <img src="http://www.nwfdc.org/wp-content/uploads/2013/01/Jeff-Grant-Board-bio-photo-BW-copy-246x300.jpg" class="rounded" alt="...">
    </div>
    <div>
      <p>I was born in Los Angeles, California, in 1984 and moved to Seattle in 1993. I am the eldest of two sons born to two practicing psychoanalysts. I now take great pride in being part of a family that has been deeply steeped in the psychoanalytic (and specifically object- relational) realm for decades, but for years my interests resided far away from the consulting room and couch. My first loves were sharks, dinosaurs, basketball, reading, and writing songs on my guitar, and to a great extent my passion for all of these interests and activities continues to this day.</p>
      <p>I graduated from Whitman College in 2006 with a BA in Anthropology and immediately set out to make good use of my education by a) tending bar and b) writing and singing songs in an indie rock band. I spent a number of years living a colorful life defined by these occupations, but as time went on I found myself gripped with troubling feelings I could not understand and existential worries too powerful and diffuse for me to name and contain. I began my own psychoanalytic psychotherapy during this time, an experience that changed—and continues to change—my life over the course of the last eight years.</p>
    </div>
     
  </div>
  


</body>
</html>
