<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
  <div class="jumbotron" style="background-color: #00000000;">
    <div class="text-center">
      <img src="Yehuda2.jpg" class="rounded" alt="...">
    </div>
    <div>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem pariatur ipsa voluptate, molestias sint ut nam, libero alias quidem rem inventore ad quasi cupiditate. Sequi porro non ipsa rem facilis.</p>
    </div>
     
  </div>
  


</body>
</html>
