<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="jumbotron" style="background-color: #00000000;">
    <div class="container-fluid">
        
    </div>
    <br>
    <!--Buttons-->
   
    <div class="container">
  
      <hr>
      
      
    </div>
      
    </div>


</body>
</html>
