<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="jumbotron" style="background-color: #00000000;">
    <div class="container-fluid">
        <div class="map-responsive">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2688.594460571606!2d-122.28242188436845!3d47.634013879186476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x549014b58ec71e55%3A0xbd839f834c1c664e!2s4033%20E%20Madison%20St%20%23107%2C%20Seattle%2C%20WA%2098112!5e0!3m2!1sen!2sus!4v1573019022333!5m2!1sen!2sus" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </div>
    <br>
    <!--Buttons-->
   
    <div class="container">
  
      <hr>
      
      <div class="row text-center" style="font-size: x-large;">
        <div class="col-md-3" >
          <a class="btn-floating blue accent-1"><i class="fas fa-map-marker-alt"></i></a>
          <p>
            E Madison St #107<br>
            Seattle, WA 98112<br>
            United States</p>
        </div>
     
        <div class="col-md-3">
          <a class="btn-floating blue accent-1"><i class="fas fa-phone"></i></a>
            <p>206.414.9322</p>
        </div>
    
        <div class="col-md-3">
          <a class="btn-floating blue accent-1"><i class="fas fa-calendar"></i></a>
          <p>Mon, Tues, Wed, Fri, 8:00-22:00</p>
        </div>
    
        <div class="col-md-3">
          <a class="btn-floating blue accent-1"><i class="fas fa-envelope"></i></a>
          <p><a href="mailto:jeffrey.arthur.grant@gmail.com">jeffrey.arthur.grant@gmail.com</a></p>
        </div>
    </div>
      
    </div>


</body>
</html>
