<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
  <div class="jumbotron jumbo text-center">
    
    <div class="container">
      
      <h1 class="animate__animated animate__fadeInUp animate__delay-.8s">Yehuda Rapoport</h1>
      <p class="animate__animated animate__fadeIn animate__delay-1s">Need help?</p>
      <p class="animate__animated animate__fadeIn animate__delay-2s">I'm here for you.</p>

      <button type="button" class="btn btn-outline-light animate__animated animate__fadeInDown animate__delay-3s"><a href="/aboutme">About me</a></button>
    
      

    </div>
  </div>
</div>


</body>
</html>
