<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/JG-white-100.png">
    </a>
    <h1>Jeffrey Grant</h1>
    <p>I am a psychotherapist in Seattle, WA.</p>
  </div>
</div>

<div class="container">
  
  <hr>
  
  <div class="row text-center" style="font-size: x-large;">
    <div class="col-md-3" >
      <a class="btn-floating blue accent-1"><i class="fas fa-map-marker-alt"></i></a>
      <p>
        E Madison St #107<br>
        Seattle, WA 98112<br>
        United States</p>
    </div>
 
    <div class="col-md-3">
      <a class="btn-floating blue accent-1"><i class="fas fa-phone"></i></a>
        <p>206.414.9322</p>
    </div>

    <div class="col-md-3">
      <a class="btn-floating blue accent-1"><i class="fas fa-calendar"></i></a>
      <p>Mon, Tues, Wed, Fri, 8:00-22:00</p>
    </div>

    <div class="col-md-3">
      <a class="btn-floating blue accent-1"><i class="fas fa-envelope"></i></a>
      <p><a href="mailto:jeffrey.arthur.grant@gmail.com">jeffrey.arthur.grant@gmail.com</a></p>
    </div>
</div>
  
</div>


</body>
</html>
